<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="softwaretestingmaterial">
    <test name="testngTest">
        <classes>
            <class name="fst22package.Activity" />
            <class name="fst22package.TestCase1" />
            <class name="fst22package.HeaderTest1" />
             <class name="fst22package.TitleFirst" />
             <class name="fst22package.Marketing" />
             <class name="fst22package.MyAccount" />
             <class name="fst22package.Accountlogin" />
             <class name="fst22package.AllCourses" />
             <class name="fst22package.ContactUs" />
             <class name="fst22package.Final" />



            </classes>
    </test>
</suite>